* {
    margin: 0;
    padding: 0;
}

#contact {
    text-align: center;
    font-size: 10mm;
}

.contact {
    height: min-content;
    background-color: hsla(25, 100%, 27%, 1);
    margin-top: 20vw;
}

#center-content {
    margin: auto;
    margin: 10vw;
}


@media only screen and (min-width: 480px) {
    #contact {
        text-align: center;
        display: block;
        position: relative;
    }

    a {
        display: block;
        font-size: 2vw;
    }

    img {
        width: 8vw;
        display: block;
        text-align: center;
        margin: auto;
    }
    .images_link {
        display: inline-block;
        width: 15vw;
        margin: 5vw;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #contact {
        text-align: center;
        display: block;
        position: relative;
    }

    a {
        display: none;
    }

    .contact img {
        margin-left: 7vw;
        width: 10vw;
        height: 10vw;
        display: block;
        text-align: center;
        margin-top: 0 !important;
    }
    .images_link {
        display: inline-block;
        width:10vw;
        height: 10vw;
        margin: 5vw;
    }
}


.contact img {
    border: none !important;
}