<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css')}}">
</head>
<body>
    <div class="contact">
        <div id="center-content">    
            <div class="images_link">
                <img src="{{ url_for('static', filename='images/phone.png' )}}" alt="phone: ">
                <a href="tel:+31620835201">+31<br> 6 208 35 201</a>
            </div>

            <div class="images_link">
                <img src="{{ url_for('static', filename='images/mail.jpeg' )}}" alt="email: ">
                <a href="mailto:benaiahdejong@gmail.com">benaiahdejong<br>@gmail.com</a>
            </div>
            
            <div class="images_link">
                <img src="{{ url_for('static', filename='images/house.jpeg' )}}" alt="adres: ">
                <a href="https://www.google.nl/maps/place/Culemborgseweg+3,+4116+RL+Buren/@51.9162338,5.3249737,15.88z/data=!4m5!3m4!1s0x47c658b9f16875b7:0x8743e97bc6833075!8m2!3d51.9174228!4d5.3290473" target="_blank">Culemborgseweg3<br>Buren</a>
            </div>
        </div>
    </div>
</body>
</html>