<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uitlaatservice Buren</title>
    <link rel="stylesheet" href="static/home.css">
    <link rel="shortcut icon" href="static/favicon.png">
</head>
<body>
    {%include 'nav.html'%}
    <div class="banner" id="Home">
        <div class="banner-text">
            <h1>Honden Uitlaat Service Buren</h1>
        </div>
    </div>
    <!-- <a class='mailto' href="mailto:benaiahdejong@gmail.com?subject=honden-uitlaatservice-Buren&body=Beste Honden-uitlaatservice, ik zou graag mijn hond door jouw laten uitlaten op: ..../.... 2022">Ik wil mijn hond door jullie laten uitlaten.</a> -->
    <div class="body">
        <h1 id="Info" class="header">Wat Wij Doen</h1>
        <div class="body-text">
            <img src="static/images/speelruimte_honden.jpeg" width="30%" height="auto">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue mauris augue neque gravida in fermentum et sollicitudin ac. Et netus et malesuada fames ac turpis egestas maecenas. Ultrices tincidunt arcu non sodales neque sodales. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Scelerisque purus semper eget duis. Imperdiet massa tincidunt nunc pulvinar sapien et.</p>
        </div>
    </div>
    {%include 'footer.html'%}
</body>
</html>