<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='headers.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">
    <title>over ons</title>
</head>
<body>
    {%include 'nav.html'%}
    <h1 id='Over-Ons' class="header">Over Ons</h1>
    <img class='img' src="{{ url_for('static', filename='images/familie.jpeg')}}">
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue mauris augue neque gravida in fermentum et sollicitudin ac. Et netus et malesuada fames ac turpis egestas maecenas. Ultrices tincidunt arcu non sodales neque sodales. Parturient montes nascetur ridiculus mus mauris vitae ultricies. Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Scelerisque purus semper eget duis. Imperdiet massa tincidunt nunc pulvinar sapien et. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Non nisi est sit amet facilisis magna etiam tempor. In nibh mauris cursus mattis molestie a iaculis at. Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Id diam vel quam elementum pulvinar etiam. Egestas dui id ornare arcu odio ut sem nulla. Tellus cras adipiscing enim eu turpis egestas pretium aenean.</p>

    <!-- <div class="photos">
        <div id='Kaya' class="photo">
            <p>Onze pup:<br>Kaya</p>
        </div>  
        <div id='Poekie' class="photo">
            <p>Onze poes:<br>Poekie</p>
        </div>
    </div> -->
    {%include 'footer.html'%}
</body>
</html>